@model KissanSarthiPro.Models.City

@{
    ViewData["Title"] = "AddCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddCity</h2>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="cityId" class="control-label"></label>
                <input asp-for="cityId" class="form-control" />
                <span asp-validation-for="cityId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <input asp-for="StateId" class="form-control" />
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

